<h1>Flight Search</h1>

<div class="card">

    <div class="form-group">
        <label>From:</label>
        <input [(ngModel)]="from" class="form-control">
    </div>
    <div class="form-group">
        <label>To:</label>
        <input [(ngModel)]="to" class="form-control">
    </div>

    <div class="form-group">
        <button class="btn btn-default" (click)="search()" [disabled]="!from || !to">Search</button>
    </div>


</div>

<div class="row">
    <div *ngFor="let f of flights" class="col-sm-6 col-md-4 col-lg-3 ">
        <flight-card [item]="f"
                     [(selectedItem)]="selectedFlight">
        </flight-card>

    </div>
</div>

<div class="row" style="margin-top:40px">
<pre>Warenkorb
----------------------
{{selectedFlight | json}}
</pre>
</div>